h1, h3 {
    color: #4d4d4d;
    text-align: center;
}
.show-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
}
.show-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.show-card h4 {
    font-size: 20px;
    margin-top: 10px;
}
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.search-form label {
    margin-right: 10px;
}