<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
   
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <h1 class="text-center mb-4">Admin Register</h1>
            <form action="/adminregister", method="post">
                <div  class="form-group" >
                    <label for="name" class="form-label">Username:</label>
                    <input type="text"  class="form-control" id="name" name="username"/>
                </div>
            
                <div  class="form-group">
                    <label for="name" class="form-label">Password:</label>
                    <input type="password"  class="form-control" id="name" name="password"/>
                </div>
            
                <div>
                    <input type="submit" class="btn btn-primary btn-block"  value="Register"/>
                </div>
            </form>
    <a class="text-center mt-4" href="/adminlogin">Already have an account? Login</a>
</body>
</html>

