<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Edit a Venue</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-md-6">
                <h1 class="text md-6">Edit a venue</h1>
                <form action="/edit_venue/{{v1.v_id}}" method="post">
                        <div class="form-group">
                            <label for="name">Venue Name:</label>
                            <input type="text" id="name" class="form-control" name="u_name" value="{{v1.name}}"/>
                        </div>
                        <div class="form-group">
                            <label for="place">Place:</label>
                            <input type="text" id="place" class="form-control" name="u_place" value="{{v1.place}}"/> 
                        </div>
                        <div class="form-group">
                            <label for="capacity">Capacity:</label>
                            <input type="text" id="capacity" class="form-control" name="u_capacity" value="{{v1.capacity}}"/>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-primary" value="EDIT"/>
                        </div>
                        <br>
                        <div>
                        <br>
                        <a href="/logout" class="btn btn-secondary">logout</a>
                </form>
</body>
</html>